body{
    background-color: black;
}

.sTF{
    background-color: blue;
}

form{
    position:absolute;
    left:45%;
    top:20%;
}


label{
    background-color: white;
    position: relative;
}

input{
    position: relative;
}

.feedbackMessage{
    size: 50%;
}
img{
    position: relative;
}
div{
    background-color: rgba(128, 128, 128, 0.205);
    position:relative;
    border-style:solid;
    border-color: rgb(41, 41, 41);
    border-width: 5%;

}